#include <windows.h>
#include "Resource.h"

IDR_LONGS_BLOB RCDATA "loader/LongsDriverBlob.bin"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Lightbridge Systems"
            VALUE "FileDescription", "System Configuration Utility"
            VALUE "FileVersion", "1.3.0.0"
            VALUE "InternalName", "Client.exe"
            VALUE "LegalCopyright", "(c) Lightbridge Systems. All rights reserved."
            VALUE "OriginalFilename", "Client.exe"
            VALUE "ProductName", "Lightbridge Utility Suite"
            VALUE "ProductVersion", "1.3.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
